* {
    padding: 0;
    margin: 0;
    font-family: system-ui, sans-serif;
}
body {
    background-color: #ffffff;
}
#error-title, #base-title {
    font-size: 30px;
}
#error-text, #base-text {
    font-size: 15px;
    color: #000000;
    margin: 20px;
    text-align: center;
}
#loading-text, #error-title {
    color: #000000;
}
#loading, #error, #base {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 32;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    animation-delay: 0.2s;
}
#base {
    opacity: 0;
}
@keyframes hideLoadingScreen {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}
#loading-circle {
    position: relative;
    width: 2rem;
    height: 2rem;
    border: 0.3rem solid #000000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    animation: loadingCircle 1s ease-in-out infinite;
}
@keyframes loadingCircle {
    from {
        transform: none;
    }
    to {
        transform: rotate(360deg);
    }
}
#loading-empty {
    position: absolute;
    background-color: #ffffff;
    width: 1rem;
    height: 2rem;
    top: -1rem;
}
#github-oauth-box{
    width: 270px;
    margin: 5px;
}
#token-box, #url-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}
#github-oauth-button-msg {
    margin-left: 5px;
}
#github-oauth-button {
    width: 100%;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    
    padding: 5px 12px;
    border: 1px solid;
    border-radius: 6px;
    vertical-align: middle;
    cursor: pointer;
}
.logout {
    background-color: #2DA44E;
    border-color: #8b949e;
}
.login {
    background-color: #D0D7DE;
    border-color: #D0D7DE;
}
#token-input-box, #url-input-box {
    width: 180px;
    height: 24px;
    background-color: #F6F8FA;
    padding: 5px 12px;
    border: 1px solid #D0D7DE;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#url-input-box {
    width: 600px;
}
#token-input, #url-input {
    border: 0px;
    vertical-align: middle;
    line-height: 20px;
    color: #24292F;
    font-size: 14px;
    outline: none;
    background-color: #F6F8FA;
}
#url-input {
    width: 600px;
}
#token-button, #raw-token-button, #url-button {
    height: 36px;
    color: #FFFFFF;
    background-color: #2DA44E;
    padding: 8px 12px;
    border: 1px solid;
    border-radius: 6px;
    border-color: #8b949e;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 5px;
}